@import '@styles';

.daily-forecast {
	box-sizing: border-box;
    border-radius: 36px;
	display: flex;
	flex-direction: column;
    width: 128.7px;
    height: 190px;
    padding: 20px, 17px, 20px, 17px;
	background-color: white;
;


    h1 {
        text-align: center;
    }

	h3 {
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 600;
	}

	@include tablet-and-more {
		overflow-y: auto;
	}

	@include tablet {
		padding: 20px 20px;

		&__days{
			height: 190px;
		}

		&__map {
			height: 324px;
		}
	}

	@include tablet-and-less {
		row-gap: 20px;
        padding: 20px 20px;

		h3 {
			font-size: 16px;
		}
	}

	@include mobile {
		height: 472px;
		padding: 62px 20px 30px;

		&__map {
			height: 233px;
		}
	}
}