@import '@styles';

.weather {
    display: flex;
    flex-direction: row;
}
.current {
    display: flex;
    flex-direction: row;
}

.current-temp{
        color: #FBFBFB;
        display: flex;
        flex-direction: row;
	}

.feel {
        font-size: 18px;
		font-weight: 400;
		color: #FBFBFB;
        display: flex;
        flex-direction: column;	
}

.feels-like-temp {
    font-size: 20px;
    font-weight: 400;
}

.current-temp{
    font-size: 79px;
    font-weight: 600;
}