@import '@styles';

.weather {
    display: flex;
    flex-direction: row;
     padding-top: 152.63px;
}

.current {
    display: flex;
    flex-direction: row;
}

.current-temperature{
        color: #FBFBFB;
        display: flex;
        flex-direction: row;
        font-size: 79px;
        font-weight: 600;
	}

.feel {
        font-size: 18px;
		font-weight: 400;
		color: #FBFBFB;
        display: flex;
        flex-direction: column;	
}

.feels-like-temp {
    font-size: 20px;
    font-weight: 400;
}
